@model IEnumerable<Ecommerce.Models.Produtos.ListarViewModel.Produto>

<h5>Listar Produto</h5>
<form action="/produtos/listar" method="get">
    <div class="mb-3">
        <input type="text" class="form-control" name="nome">
    </div>
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOME</th>
            <th scope="col">PRECO</th>
            <th scope="col">QUANTIDADE</th>
            <th scope="col">AÇÕES</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model)
        {
            <tr>
                <th scope="row">@produto.Id</th>
                <td>@produto.Nome</td>
                <td>@produto.Preco</td>
                <td>@produto.Quantidade</td>
                <td>
                    <a href="/produtos/editar?id=@produto.Id" class="btn btn-sm btn-info">editar</a>
                    <a href="/produtos/remover?id=@produto.Id" class="btn btn-sm btn-primary">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>